* text=auto eol=lf
*.sv text eol=lf
*.svh text eol=lf
*.v text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.gtkw text eol=lf
Makefile text eol=lf
*.png binary
*.pdf binary
*.fst binary
*.vcd binary